chapter04/Soap/ModernizationDemo.SoapTests/Web References/OrdersClient/Orders.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult" type="tns:ArrayOfOrderModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderModel" nillable="true" type="tns:OrderModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderItems" type="tns:ArrayOfOrderItemModel" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletedAt" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CanceledAt" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:OrderStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderItemModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderItemModel" nillable="true" type="tns:OrderItemModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderItemModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="OrderStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Pending" />
          <s:enumeration value="Completed" />
          <s:enumeration value="Canceled" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderResult" type="tns:OrderModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:OrderCreateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderCreateModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderItems" type="tns:ArrayOfOrderCreateItemModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderCreateItemModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderCreateItemModel" nillable="true" type="tns:OrderCreateItemModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderCreateItemModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddOrderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTotalPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:OrderCreateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTotalPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateTotalPriceResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="GetOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateTotalPriceSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateTotalPrice" />
  </wsdl:message>
  <wsdl:message name="CalculateTotalPriceSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateTotalPriceResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteOrder" />
  </wsdl:message>
  <wsdl:message name="CompleteOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="OrdersSoap">
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersSoapIn" />
      <wsdl:output message="tns:GetOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input message="tns:GetOrderSoapIn" />
      <wsdl:output message="tns:GetOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input message="tns:AddOrderSoapIn" />
      <wsdl:output message="tns:AddOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalPrice">
      <wsdl:input message="tns:CalculateTotalPriceSoapIn" />
      <wsdl:output message="tns:CalculateTotalPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteOrder">
      <wsdl:input message="tns:CompleteOrderSoapIn" />
      <wsdl:output message="tns:CompleteOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input message="tns:CancelOrderSoapIn" />
      <wsdl:output message="tns:CancelOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrdersSoap" type="tns:OrdersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalPrice">
      <soap:operation soapAction="http://tempuri.org/CalculateTotalPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteOrder">
      <soap:operation soapAction="http://tempuri.org/CompleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://tempuri.org/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrdersSoap12" type="tns:OrdersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap12:operation soapAction="http://tempuri.org/GetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap12:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTotalPrice">
      <soap12:operation soapAction="http://tempuri.org/CalculateTotalPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteOrder">
      <soap12:operation soapAction="http://tempuri.org/CompleteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap12:operation soapAction="http://tempuri.org/CancelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Orders">
    <wsdl:port name="OrdersSoap" binding="tns:OrdersSoap">
      <soap:address location="http://localhost:50933/Orders.asmx" />
    </wsdl:port>
    <wsdl:port name="OrdersSoap12" binding="tns:OrdersSoap12">
      <soap12:address location="http://localhost:50933/Orders.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>